.wowwl_stops {
    background: -moz-linear-gradient(left, #e50000 0%, #e50000 17%, #ff8d00 17%, #ff8d00 33%, #ffff1d 33%, #ffff1d 33%, #ffff1d 50%, #008121 50%, #008121 67%, #004cff 67%, #004cff 84%, #750188 84%, #750188 100%);
    background: -webkit-linear-gradient(left, #e50000 0%,#e50000 17%,#ff8d00 17%,#ff8d00 33%,#ffff1d 33%,#ffff1d 33%,#ffff1d 50%,#008121 50%,#008121 67%,#004cff 67%,#004cff 84%,#750188 84%,#750188 100%);
    background: linear-gradient(to right, #e50000 0%,#e50000 17%,#ff8d00 17%,#ff8d00 33%,#ffff1d 33%,#ffff1d 33%,#ffff1d 50%,#008121 50%,#008121 67%,#004cff 67%,#004cff 84%,#750188 84%,#750188 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wowwl_gradient {
    background: -moz-linear-gradient(left, #e50000 0%, #ff8d00 20%, #ffff1d 40%, #008121 60%, #004cff 80%, #750188 100%);
    background: -webkit-linear-gradient(left, #e50000 0%,#ff8d00 20%,#ffff1d 40%,#008121 60%,#004cff 80%,#750188 100%);
    background: linear-gradient(to right, #e50000 0%,#ff8d00 20%,#ffff1d 40%,#008121 60%,#004cff 80%,#750188 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wowwl_gradient-p {
    background: -moz-linear-gradient(left, #e50000 10%, #ff8d00 26%, #ffff1d 42%, #008121 58%, #004cff 74%, #750188 90%);
    background: -webkit-linear-gradient(left, #e50000 10%,#ff8d00 26%,#ffff1d 42%,#008121 58%,#004cff 74%,#750188 90%);
    background: linear-gradient(to right, #e50000 10%,#ff8d00 26%,#ffff1d 42%,#008121 58%,#004cff 74%,#750188 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wowwl_gradient-forever {
    background: -moz-linear-gradient(left, #e50000 0%, #ff8d00 10%, #ffff1d 30%, #008121 50%, #004cff 70%, #750188 90%, #e50000 100%);
    background: -webkit-linear-gradient(left, #e50000 0%,#ff8d00 10%,#ffff1d 30%,#008121 50%,#004cff 70%,#750188 90%,#e50000 100%);
    background: linear-gradient(to right, #e50000 0%,#ff8d00 10%,#ffff1d 30%,#008121 50%,#004cff 70%,#750188 90%,#e50000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
